apiVersion: v1
kind: Pod
metadata: 
  name: phpinfo-po
  labels:
    app: phpinfo
    env: prod
    tier: frontend
spec: 
  containers: 
    -
      args:  
        - -f
        - index.php
        - -S
        - 0.0.0.0:8080
      command: 
        - php
      image: ignaciomartinmiranda/redhat_php:latest@sha256:1698a867cfe57bbd219c7036b86e706463e7aac35ad234e6f2f105864596a383
      name: phpinfo-container
      ports: 
        -
          containerPort: 8080
          protocol: TCP
      volumeMounts:  
        -
          mountPath: /src/index.php
          name: phpinfo-volume
          readOnly: true
          subPath: index.php
      workingDir: /src/
  volumes:
    -
      configMap:
        defaultMode: 0400
        items:  
          -
            key: index.php
            mode: 0400
            path: index.php
        name: phpinfo-cm
      name: phpinfo-volume
---
apiVersion: v1
kind: Service
metadata: 
  name: phpinfo-svc
spec:
  ports: 
    -
      port: 80
      protocol: TCP
      targetPort: 8080
  selector: 
    app: phpinfo
    env: prod
    tier: frontend
  type: ClusterIP
